@import "{{ site.theme }}";

@font-face {
  font-family: 'Roboto';
  src: url('/fonts/roboto.woff2') format('woff2'),
       url('/fonts/roboto.woff') format('woff');
}

body {
  font-family: 'Roboto', sans-serif;
}